@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Varela Round';
    padding: 0;
    margin: 0;
}



/* The Header -- */

header div {
  margin: 0 auto;
}

header div h2 {
  color: white;
}

header div h1 {
  color: white;
}

header{
  background-image: url(../images/nakamabackgroundimage.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  max-height: 600px;
  min-height: 600px;
  margin: 0;
  padding: 0;

}

header nav {
  position: relative;
}

header nav ul {
  float: right;
  text-decoration: none;
}

header nav ul li {
  display: inline-block;
  padding: 5px 10px;
}

header nav ul li a {
  font-size: 2vh;
  color: white;
  text-decoration: none;
  transition: all 1s;

}

header nav ul li a:hover{
  color: cyan;
  transition: all 1s;
}

header nav div {
 float: left;
 background-color: black;
 color: white;
 font-size: 2vh;
 
}

header nav div p i {
  padding: 5px;
  float: left;
  padding-left: 2px;
  font-size: 1.25vh;
}

header nav div p {
  padding: 10px;
  display: flex;
  align-items: center;
  padding-right: 4px;
  padding-left: 0;
}


header nav div p span {
  float: left;
}


header nav div p img {
  height: 40px;
  width: 50px;
  margin-left: 5px;
  float: right;
  border: 1px solid white;
  border-radius: 50px;
}


header nav input {
  float: left;
  font-size: 2vh;
  margin-left:50px;
}


/* -- The header */