@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Varela Round';
    padding: 0;
    margin: 0;
}



/* The Header -- */

header div {
  margin-top: 230px;
  text-align: center;
}

header div h1 {
  color: white;
}


header{
  background-image: url(../images/nakamabackgroundimage.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  max-height: 500px;
  min-height: 500px;
  margin: 0;
  padding: 0;

}

header nav {
  float: right;
  position: relative;
}

header nav ul {
  text-decoration: none;
}

header nav ul li {
  display: inline-block;
  padding: 5px 10px;
}

header nav ul li a {
  font-size: 2vh;
  color: white;
  text-decoration: none;
  transition: all 1s;

}

header nav ul li a:hover{
  color: cyan;
  transition: all 1s;
}



/* -- The header */